.card_wrapper .card_item {
  min-width: 280px;
}
.explore_wraper .card_item {
  min-width: 150px;
}

.card_wrapper::-webkit-scrollbar {
  display: none;
}

.custom .card_item {
  min-width: 170px;
  min-height: 150px; 
}


.customexplore_wraper .card_item {
  min-width: 150px;
}

.Investor .card_item {
  min-width: 550px;
  min-height: 250px;
}
.Investor .card_item {
  min-width: 550px;
}